.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-box {
    height: 13vh;
    background-color: white;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
}
